.gallery {
	border: 1px solid var(--border-color);
	padding: 1em;
}

/* Använder styled components i stället
.gallery img {
	width: 150px;
	height: 150px;
} */

.img-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 20px;
}